/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
}

body {
  font-family: "Roboto", sans-serif;
}

.ant-layout {
  min-height: 100vh;
}

/*======================
   Layout
=======================*/
main {
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  width: 0px;
}

.ant-layout-sider {
  flex: 0 0 250px;
  max-width: 250px;
  min-width: 250px;
  width: 250px;
}

.ant-layout-sider-collapsed,
.ant-layout-sider-trigger {
  flex: 0 0 80px !important;
  max-width: 50px !important;
  min-width: 20px !important;
  width: 80px !important;
}

.logo {
  background-color: #ffd333 !important;
  margin: 0;
  height: 64px;
  cursor: pointer;
}

.ant-menu-title-content {
  font-size: 16px !important;
}

.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}

.ant-layout-header p {
  line-height: 10px;
  font-size: 13px;
}

.ant-layout-header div .badge {
  top: 12px;
  right: -9px;
}

.category-tag {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  color: #531dab;
  border-color: #f9f0ff;
  background-color: #d3adf7;
  margin-right: 4px;
  margin-top: 4px;
  display: inline-block;
}